<!DOCTYPE html>

<html lang='en'>
    <head>
        <meta charset='UTF-8'>
        <title>Books Database</title>
    </head>
    <body>
        <h1>Delete Books</h1>
        Are you sure you want to delete Software Engineering?<br>
        <form method="POST">
            <button type="submit">Delete</button>
            <a href="{{url_for('showBook')}}">Cancel</a>
        </form>
    </body>
</html>