<!DOCTYPE html>

<html lang='en'>
    <head>
        <meta charset='UTF-8'>
        <title>Books Database</title>
    </head>
    <body>
        <h1>Edit Book</h1>
        Name:<br>
        <form method="POST">
            <input type="text" name="newName">
            <button type="submit">Edit</button>
            <a href="{{url_for('showBook')}}">Cancel</a>
        </form>
    </body>
</html>