<!DOCTYPE html>

<html lang='en'>
    <head>
        <meta charset='UTF-8'>
        <title>Books Database</title>
    </head>
    <body>
        <h1>Books</h1>
        {% for bookinfo in booklist %}
        {{bookinfo.title}}<br>
        <a href="{{url_for('editBook',book_id=bookinfo.id)}}">Edit books</a><br>
        <a href="{{url_for('deleteBook',book_id=bookinfo.id)}}">Delete books</a><br><br>
        {% endfor %}
    </body>
</html>